.ht0004_back { background-color:#9999ff; }
.ht0004_menu_back { background-color:#9999ff; }
.ht0004_menu_text { font-family:lcarsgtj3,Arial; font-size:26px; color:#441111; vertical-align:middle; height:34px; }

.ht0004_back2 { background-color:#ff9966; }
.ht0004_menu_back2 { background-color:#ff9966; }
.ht0004_menu_text2 { font-family:lcarsgtj3,Arial; font-size:26px; color:#441111; vertical-align:middle; height:34px; }

.ht0004_title { font-family:lcarsgtj3,Arial; font-size:30px; color:#ffcc99; height:34px; }
.ht0004_text { font-family:lcarsgtj3,Arial; font-size:24px; color:#cccccc; }

.ht0004_content { background-color:#222222; }
.ht0004_content2 { background-color:#333333; }
.ht0004_content3 { background-color:#333333; }