.ht0002_back { background-color:#9999cc; }
.ht0002_menu_back { background-color:#9999cc; }
.ht0002_menu_text { font-family:lcarsgtj3,Arial; font-size:26px; color:#444444; vertical-align:middle; height:34px; }
.ht0002_title { font-family:lcarsgtj3,Arial; font-size:30px; color:#cccccc; height:34px; }
.ht0002_content { background-color:#222222; }
.ht0002_content2 { background-color:#333333; }