
.ht0001_menu_back { background-color:#f7c64a; }
.ht0001_menu_text { color:#000000; }
.ht0001_title { font-family:lcarsgtj3,Arial; font-size:30px; color:#cccccc; }
.ht0001_content { background-color:#003300; }