/*
   for the whole CSS a post-fix of 2, 3 ... define additional styles and usually build a group    
 
   h=height normal, 
   w=width normal, 
   sw=spacer width, 
   mw=menu width, 
   b=background
   rew=round edge width
*/

/* some heights */
.ht0001_h { height:34px; }
.ht0001_h2 { height:16px; }
.ht0001_sh { height:4px; }

/* some widths */
.ht0001_w { width:34px; }
.ht0001_sw { width:4px; }
.ht0001_tsw { width:10px; }
.ht0001_rew { width:50px; }
.ht0001_mw { width:120px; }

/* background colors for the content panels */
.ht0001_b { background-color:#f7c64a; }
.ht0001_content { background-color:#081808; }
.ht0001_content2 { background-color:#080818; }

/* styles for menu text and title */
.ht0001_mt { font-family:lcarsgtj3,Arial; font-size:1.4em; color:#000000; }
.ht0001_title { font-family:lcarsgtj3,Arial; font-size:1.6em; color:#cccccc; }
/* text style for the time */
.ht0001_time { font-family:lcarsgtj3,Arial; font-size:1.3em; color:#9999ff; }

/* these are for the round edges in the top and bottom bar */
.ht0001_round_l { width:34px; height:34px; background-color:#f7c64a; border-width:0px; border-top-left-radius:17px; border-bottom-left-radius:17px; }
.ht0001_round_r { width:34px; height:34px; background-color:#f7c64a; border-width:0px; border-top-right-radius:17px; border-bottom-right-radius:17px; }
.ht0001_round2_l { width:34px; height:16px; background-color:#f7c64a; border-width:0px; border-top-left-radius:8px; border-bottom-left-radius:8px; }
.ht0001_round2_r { width:34px; height:16px; background-color:#f7c64a; border-width:0px; border-top-right-radius:8px; border-bottom-right-radius:8px; }
.ht0001_halfbround_r { width:50px; height:16px; background-color:#f7c64a; border-width:0px; border-bottom-right-radius:16px; }
.ht0001_halftround_l { width:50px; height:34px; background-color:#f7c64a; border-width:0px; border-top-left-radius:34px; }
