.ht0003_back { background-color:#cc6666; }
.ht0003_menu_back { background-color:#cc6666; }
.ht0003_menu_text { font-family:lcarsgtj3,Arial; font-size:26px; color:#441111; vertical-align:middle; height:34px; }

.ht0003_back2 { background-color:#ff9966; }
.ht0003_menu_back2 { background-color:#ff9966; }
.ht0003_menu_text2 { font-family:lcarsgtj3,Arial; font-size:26px; color:#441111; vertical-align:middle; height:34px; }

.ht0003_title { font-family:lcarsgtj3,Arial; font-size:30px; color:#cccccc; height:34px; }

.ht0003_content { background-color:#000000; }
.ht0003_content2 { background-color:#000000; }
.ht0003_content3 { background-color:#000000; }
